# macOS system files
.DS_Store

# Python virtual environments
venv/
env/

# Python compiled files
*.pyc
*.pyo
__pycache__/

# Python packaging files
*.egg-info/
dist/
build/

# IDE files
.idea/
.vscode/
